@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>No upcoming trips? <a>Start planning one now!</a>.</p>

    <div class="row">

    </div>
</div>
